@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'IRANSans';
    src: url('./fonts/Woff2/IRANSansXFaNum-Regular.woff2') format('woff2'),
    url('./fonts/Woff/IRANSansXFaNum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IRANSansBold';
    src: url('./fonts/Woff2/IRANSansXFaNum-Bold.woff2') format('woff2'),
    url('./fonts/Woff/IRANSansXFaNum-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.image-sharif {
    background-image: url('./image/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
[x-cloak] {
    display: none !important;
}
